// Files generated during continuous integration
swiftlint.json
*.ipa
archive
logs
build
WeatherAppUITests-Runner.app.zip

// Reports
cpd-output.xml

// Files containing secrets 
WeatherApp/Preferences/Secrets.plist
